body {
      background-color: #f8f8f8;
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .cores-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 50%;
      margin-top: 100px;
    }

    .grupo {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .grupo-titulo {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 4px;
      padding-left: 4px;
    }

    .cor-linha {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
      position: relative;
      height: 80px;
      cursor: pointer;
    }

    .cor-linha .nome-cor {
      padding: 0 20px;
      font-size: 20px;
      transition: opacity 0.3s ease;
      white-space: nowrap;
      z-index: 1;
      margin-left: 25px;
    }

    .cor-linha .bloco-cor {
      width: 12%;
      height: 100%;
      transition: all 0.3s ease;
    }

    .cor-linha:hover .nome-cor,
    .cor-linha:has(.bloco-cor.expandida) .nome-cor {
      opacity: 0;
    }

    .cor-linha:hover .bloco-cor,
    .cor-linha:has(.bloco-cor.expandida) .bloco-cor {
      width: 100%;
    }

    .bloco-cor {
      position: absolute;
      top: 0;
      right: 0;
    }

    @media screen and (max-width: 768px) {
        .cores-container {
            width: 90%;

        .cor-linha {
          height: 52px;
      }
    }     
    }